/* ==UserStyle==
@name         [FRITZ!OS] dark mode
@version      1.0.1
@author       https://github.com/VlkaFenryka
@namespace    https://github.com/VlkaFenryka
==/UserStyle== */

@document regexp("http://192.168.178.*"), regexp("https://192.168.40.*") {
  html {
    filter: invert(0.85);
    background: #262626;
  }

  #content .row .header .more {
    background-color: transparent;
  }

  img,
  i,
  button,
  #blueBarBox,
  #dialogHeadBox,
  .logoBox,
  #uiPageTitleBox,
  #tabMenu,
  .menu_item.selected,
  .header,
  .dsl_line,
  .v-page-tabs {
    filter: invert(1) contrast(1.25) saturate(1.25);
  }

  .mainContent button.icon,
  .mainContent button:not(.icon),
  .mainContent input[type="button"]:not(.icon),
  .mainContent input[type="reset"]:not(.icon),
  .mainContent input[type="submit"]:not(.icon) {
    background-color: #262626;
    border: none;
  }
}
