/* ==UserStyle==
@name         [JAZZ] dark-mode
@version      1.0.1
@author       https://github.com/VlkaFenryka
@namespace    https://github.com/VlkaFenryka
==/UserStyle== */

@document domain("jazz.avm.de") {
  html {
    background: #262626;
    filter: invert(0.85);
  }

  img {
    filter: invert(1) contrast(1.25) saturate(1.25);
  }

  html.dj_contentbox {
    background-color: transparent;
  }

  html.dj_contentbox body {
    font-family: monospace;
    font-size: 1rem;
  }
}
