/* ==UserStyle==
@name         [rocketchat] dark-mode
@version      1.0.2
@author       https://github.com/VlkaFenryka
@namespace    https://github.com/VlkaFenryka
==/UserStyle== */

@document domain("rocketchat.avm.de") {
  .main-content {
    filter: invert(0.85);
  }

  .color-primary-font-color {
    color: #000000f7;
  }

  img,
  .emojione {
    filter: invert(1) contrast(1.25) saturate(1.25);
  }

  aside img,
  .pswp__img,
  .color-primary-font-color,
  .emoji-picker * {
    filter: none;
  }
}
